div
    h5.gene-detail Domain architecture
    div.domains
    button(class="aseq-details mist-button-standard" mat-button (click)="toggleDetails()") Details
        mat-icon(aria-hidden="true") {{ arrow }}

    div.details(*ngIf="details")
        div.button-row
            button(mat-button [ngStyle]="styles.pfam" (click)="getInfo('pfam')") Pfam
            button(mat-button [ngStyle]="styles.lowComplSegs" (click)="getInfo('lowComplSegs')") Low Complexity Segments
            button(mat-button [ngStyle]="styles.coiledCoils" (click)="getInfo('coiledCoils')") Coiled Coils
            button(mat-button [ngStyle]="styles.tmHmm" (click)="getInfo('tmHmm')") TM-HMM
            button(mat-button [ngStyle]="styles.sequence" (click)="getInfo('sequence')") Sequence

        div(*ngIf="aseqViewModel && aseqViewModel.activeProperties")
            table(class="u-full-width")
                tbody
                    tr(*ngIf="aseqViewModel.activeProperties.value.length > 0")
                        th(*ngFor="let property of aseqViewModel.activeHeaders") {{ property.name }}
                    tr(*ngFor="let proteinFeature of aseqViewModel.activeProperties.value")
                        td(*ngFor="let element of proteinFeature") 
                            div(*ngIf="aseqViewModel.activeProperties.type != 'sequence'; else sequenceBlock") {{ element }}
                            ng-template(#sequenceBlock) 
                                div.protSeq {{ highlightSelection() }} {{ element }}